/* body {
    display: flex;
    align-items: center;
    justify-content: center;
} */
h1 {
  width: 100%;
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.5em;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
a {
  background-color: hsl(0, 0%, 95%);
  border-radius: 20px;
  border: 3px solid hsl(0, 0%, 95%);
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
.main_div {
  /* background-color: blue; */
  width: 770px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.child1 {
  background-color: hsl(31, 77%, 52%);
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.child1 a {
  color: hsl(31, 77%, 52%);
}
.child1 a:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(31, 77%, 52%);
}

.child2 {
  background-color: hsl(184, 100%, 22%);
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.child2 a {
  color: hsl(184, 100%, 22%);
}
.child2 a:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(184, 100%, 22%);
}

.child3 {
  background-color: hsl(179, 100%, 13%);
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.child3 a {
  color: hsl(179, 100%, 13%);
}
.child3 a:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(179, 100%, 13%);
}

@media (max-width: 992px) {
  .main_div {
    width: 430px;
    display: flex;
    top: 0;
    transform: translateX(-50%);
    flex-wrap: wrap;
  }
}